* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #f9f9f9;
  color: var(--darkgray);
  height: 100%;
  overflow-x: hidden;
}


:root {
  --primaryColor: #495E57;
  --secondaryColor: #F4CE14;
  --secondaryThree: #EE9972;
  --secondaryFour: #FDBABB;
  --gray: #EDEFEE;
  --darkgray: #333333;
}
h1 {
  font-family: 'Markazi Text', serif;
  font-weight: bold;
}
h2 {
  font-family: 'Markazi Text', serif;
  font-size: 40px;
}

h3 {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

span {
  color: var(--secondaryThree);
  font-weight: medium;
}

.cta {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 550;
}